body {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #fff;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 48px;
    color: #70d249;
}

header img {
    margin-top: 5px;
    max-width: 100px;
    max-height: 100px;
}

header {
    color: #000;
    padding: 20px;
    text-align: center;
}

nav {
    border-top: 3px solid #70d249;
    border-bottom: 3px solid #70d249;
    background-color: #fff;
    padding: 10px;
    text-align: center;
    overflow: hidden;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky+.content {
    padding-top: 60px;
}

nav a {
    font-weight: bold;
    color: #70d249;
    text-decoration: none;
    padding: 10px 20px;
    margin: 3px 5px;
    border-left: #fff solid 2px;
    border-right: #fff solid 2px;
}

.active {
    text-decoration: underline 3px;
}

nav a:hover {
    border-left: #70d249 solid 2px;
    border-right: #70d249 solid 2px;
}

.header {
    background-color: #fff;
    border-radius: 12px 12px 0 0;
    color: #70d249;
    width: 90%;
    border: #70d249 solid 3px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 12px;

    a:hover {
        text-decoration: underline;
    }

    a {
        text-decoration: none;
        color: #70d249;
    }
}

.active {
    text-decoration: underline 3px;
}

a {
    font-weight: bold;
    text-decoration: none;
    color: #70d249;
}

.panel {
    margin: 10px auto;
    padding: 10px;
    font-size: 20px;
    width: 80%;
    text-align: center;
    color: #70d249;
    border-radius: 5px;
    background-color: #fff;
    outline: #70d249 3px solid;
}

.question {
    text-align: center;
    font-size: 30px;
    color: #70d249;
    
    width: 50%;
    margin-bottom: 20px;
}

.options {
    font-size: 20px;
    display: grid;
    color: #70d249;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    border: 3px solid #70d249;
    background-color: #fff;
    color: #70d249;
    font-size: 16px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #70d249;
    color: #fff;
}

#score {
    font-size: 30px;
    color: #70d249;
}

footer {
    background-color: #fff;
    color: #70d249;
    border-top: #70d249 3px solid;
    text-align: center;
    margin-top: 180px;
    padding: 1em;
    bottom: 0;
}